.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  overflow: clip;
  visibility: hidden;
}

.Videobox {
  border: 4px solid #000;
  width: 600px;
  height: 400px;
  overflow: hidden; /* Ensures content doesn't overflow the box */
  position: relative; /* Establishes a containing block for absolute positioned elements */
  margin-top: 5px;
}


/* Picture Animations */

@keyframes right-to-left {
  0% {
    visibility: visible;
    transform: translateX(100%) translateY(0%)
  }
  100% {
    transform: translateX(-200%) translateY(0%)
  }
}

.right-to-left {
  animation-name: right-to-left;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes left-to-right {
  0% {
    visibility: visible;
    transform: translateX(-200%) translateY(0%)
  }
  100% {
    transform: translateX(100%) translateY(0%)
  }
}

.left-to-right {
  animation-name: left-to-right;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}



@keyframes up-to-down {
  0% {
    visibility: visible;
    transform: translateY(-100%) translateX(-50%)
  }
  100% {
    transform: translateY(165%) translateX(-50%)
  }
}

.up-to-down {
  animation-name: up-to-down;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes down-to-up {
  0% {
    visibility: visible;
    transform: translateY(100%) translateX(-50%)
  }
  100% {
    transform: translateY(-100%) translateX(-50%)
  }
}

.down-to-up {
  animation-name: down-to-up;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}



.unique {
  position: absolute;
  top: 0%;
  left: 33%;
  opacity: 0;
  animation: unique 3s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

@keyframes unique {
  0%, 100% {
    visibility: visible;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.handshake-list {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px
}

.handshake-item {
  border: 2px solid lightblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.handshake-name {
  font-weight: bold;
  font-size: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.handshake-name,
.handshake-sequence {
  grid-row: 1;
}

.instructions {

}