.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  overflow: clip;
}

.Videobox {
  border: 4px solid #000;
  width: 600px;
  height: 400px;
  overflow: hidden; /* Ensures content doesn't overflow the box */
  position: relative; /* Establishes a containing block for absolute positioned elements */
  margin-top: -40px;
}


/* Picture Animations */

@keyframes right-to-left {
  0% {
    transform: translateX(100%) translateY(25%)
  }
  100% {
    transform: translateX(-200%) translateY(25%)
  }
}

.right-to-left {
  animation-name: right-to-left;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-200%) translateY(25%)
  }
  100% {
    transform: translateX(100%) translateY(25%)
  }
}

.left-to-right {
  animation-name: left-to-right;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}



@keyframes up-to-down {
  0% {
    transform: translateY(-50%) translateX(-50%)
  }
  100% {
    transform: translateY(165%) translateX(-50%)
  }
}

.up-to-down {
  animation-name: up-to-down;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes down-to-up {
  0% {
    transform: translateY(200%) translateX(-50%)
  }
  100% {
    transform: translateY(-100%) translateX(-50%)
  }
}

.down-to-up {
  animation-name: down-to-up;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}



.unique {
  opacity: 0;
  animation: unique 2s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

@keyframes unique {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

